<% layout('/layouts/boilerplate') %>


<h1>All reviews</h1>
<a class="btn btn-danger mt-2 mb-3" href="/profile/<%= id%>">Go back to the profile</a>
<% if ((currentUser && userData.username != currentUser.username) || !currentUser) { %>
<a class="btn btn-secondary mt-2 mb-3" href="/profile/<%= id%>/reviews/new">Add your own review of this user!</a>
<% } %>

<% if (userData.reviews.length > 0) { %>
<% for (let review of reviews) {  %>
<div class="card">
     <div class="row">
          <div class="col-md-8">
               <div class="card-body">
                    <h5 class="card-title"><%=review.title%></h5>
                    <p>
                         <% for(let i = 0; i < review.rating; i++) { %>
                         &#11088;
                         <% } %>
                    </p>
                    <p class="card-text text-muted">By: <a href="/profile/<%= review.author.id %>"
                              style="text-decoration: none;"><%=  review.author.username %></a>, submitted on:
                         <%= review.date %>
                    </p>
                    <p class="card-text text-muted"> </p>
                    <p class="card-text"> <%= review.description %> </p>
                    <% if (currentUser && (review.author.username === currentUser.username)) {  %>
                    <form method="POST" action="/profile/<%= userData._id%>/reviews/<%=review._id%>/?_method=DELETE">
                         <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                    <% } %>
               </div>
          </div>
     </div>
</div>
<% } %>
<% } else { %>
<div class="card">
     <div class="row">
          <div class="col-md-4">
               <div class="card-body">
                    <p class="card-text text-muted"> This user currently has no reviews :/ </p>
               </div>
          </div>
     </div>
</div>

<% } %>