<% layout('/layouts/boilerplate') %>
<div class="row">
     <h1 class="text-center">
          Edit product
     </h1>
     <div class="col-6 offset-3">
          <form action="/products/<%= updatedProduct._id %>?_method=PUT" method="post" class="validated-form"
               enctype="multipart/form-data" novalidate>
               <div class="mb-3">
                    <label class="form-label" for="title">Name of the product you want to sell:</label>
                    <input class="form-control" type="text" name="product[title]" id="title" placeholder="name"
                         value="<%= updatedProduct.title %>" required>
               </div>
               <div class="mb-3">
                    <label class="form-label" for="location">The location where you are selling:</label>
                    <input class="form-control" type="text" name="product[location]" id="location"
                         placeholder="location" value="<%= updatedProduct.location %>" required>
               </div>
               <div class="mb-3">
                    <label class="form-label" for="price">Price of the product you are selling:</label>
                    <div class="input-group mb-3">
                         <span class="input-group-text" id="price-label">$</span>
                         <input type="text" class="form-control" id="price" placeholder="0.00"
                              aria-label="Amount (to the nearest dollar)" aria-describedby="price-label"
                              name="product[price]" value="<%= updatedProduct.price %>" required>
                    </div>
               </div>
               <div class="mb-4">
                    <label class="form-label" for="image">Images:</label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
               </div>
               <h4>Uploaded images:</h4>
               <div class="d-flex justify-content-center p-3">

                    <div class="row align-items-end">
                         <% updatedProduct.images.forEach( (img, i) => { %>
                         <div class="col-md-6 p-3">
                              <img src="<%= img.thumbnail %>" class="img-thumbnail img-fluid"
                                   style="max-width: 200px;min-width: 200px;max-height: 200px;min-height: 100px;">
                              <div class="form-check">
                                   <input class="form-check-input" type="checkbox" value="<%= img.filename %>"
                                        id="image-<%=i%>" name="deleteImages[]">
                                   <label class="form-check-label" for="image-<%=i%>">
                                        Delete
                                   </label>
                              </div>
                         </div>
                         <% }); %>
                    </div>
               </div>
               <div class="mb-3">
                    <label class="form-label" for="description">Description of your product:</label>
                    <textarea class="form-control" type="text" name="product[description]" id="description"
                         placeholder="description" required><%= updatedProduct.description %></textarea>
               </div>
               <button class="btn btn-success mb-3">Edit your listing</button>
          </form>
          <a class="btn btn-danger" href="/products">Go back to all listings!</a>
     </div>
</div>