<% layout('/layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3">
        <div class="card" >
            <img src="<%= foundProduct.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= foundProduct.title %></h5>
              <p class="card-text">Submitted by: <%= foundProduct.author.username %></p>
              <p class="card-text"><%= foundProduct.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= foundProduct.location %></li>
              <li class="list-group-item">$<%= foundProduct.price %></li>
            </ul>
            <% if(currentUser && foundProduct.author.equals(currentUser)) {%> 
            <div class="card-body">
              <a href="/products/<%= foundProduct._id %>/edit" class="card-link btn btn-primary">Edit</a>
              <form action="/products/<%=foundProduct._id %>/?_method=DELETE" method="post" class="d-inline"><button class="btn btn-danger">Delete</button></form>
            </div>
            <% } %> 
          </div>
    </div>
</div>



